In [ ]:
                                            # STRINGS

In [12]:

# 1. Write a program to reverse a string.
s1 = "piyush"
s1 = "piyush"
s1
'piyush'
s1[0]
'p'
s1[0:4]
'piyu'
s1[::-1]
'hsuyip'

'hsuyip'

In [11]:

# 2. Check if a string is a palindrome.
s1[0:]
'piyush'
s1[::-1
  ]
'hsuyip'
s1 == s1[::-1]
False

False

In [14]:

s1 
'piyush'
s1.upper()

'PIYUSH'

In [15]:

# 4. Convert a string to lowercase.
s1
'piyush'
s2 ="CHAUBEY"
s2
'CHAUBEY'
s2.lower()
'chaubey'

'chaubey'

In [16]:

# 7. Remove all whitespaces from a string.
s3 = "farraka express"
s3
'farraka express'
s3.replace(' ','')
'farrakaexpress'

'farrakaexpress'

In [17]:

# 8. Find the length of a string with using the `len()` function.
s3
'farraka express'
len(s2)
7

7

In [18]:

# 9. Check if a string contains a specific word.
s1.count('y')
1
s1
'piyush'

'piyush'

In [19]:

# 10. Replace a word in a string with another word.
s2
'CHAUBEY'
s2.replace('A','U')
'CHUUBEY'

'CHUUBEY'

In [21]:

# 11. Count the occurrences of a word in a string.
s2

'CHAUBEY'
s2.count('U')
1

1

In [22]:

#12 Find the first occurrence of a word in a string.

s1
'piyush'
s1[0]
'p'

'p'

In [24]:

# 13. Find the last occurrence of a word in a string.
s1
'piyush'
s1[5]

'h'

In [25]:


# 14. Split a string into a list of words.

s4 = "square of 26 is 676"
s4
'square of 26 is 676'
s4.split()

['square', 'of', '26', 'is', '676']

In [29]:



# 16. Convert a string where words are separated by spaces to one where words
# are separated by underscores.
s5 =  "neelanchal express"
'neelanchal express'
s5.replace(' ','_')
'neelanchal_express'

'neelanchal_express'

In [30]:

# 17. Check if a string starts with a specific word or phrase.
s5
'neelanchal express'
s5.startswith('n')
True

True

In [31]:

# 18. Check if a string ends with a specific word or phrase.
s5.endswith('a')
False
s5.endswith('ss')
True

True

In [32]:

# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
s5
'neelanchal express'
s5.title()
'Neelanchal Express'

'Neelanchal Express'

In [33]:

# 20. Find the longest word in a string.
s6 =("kalka howrah mail")
s6
'kalka howrah mail'
s6.split()
['kalka', 'howrah', 'mail']
len('howrah')
6

6

In [34]:

# 21. Find the shortest word in a string.
s6
'kalka howrah mail'
s6.split()
['kalka', 'howrah', 'mail']
len('mail')
4

4

In [35]:

# 22. Reverse the order of words in a string.
s6 =("kalka howrah mail")
s6
'kalka howrah mail'
s6[::-1]
'liam harwoh aklak'

'liam harwoh aklak'

In [36]:

# 23. Check if a string is alphanumeric.
s6
'kalka howrah mail'
s6.isalpha()
False

False

In [37]:

# 24. Extract all digits from a string.

s6
'kalka howrah mail'
s6.isdigit()
False
s6 ="kalka . howrah . mail"
s6
'kalka . howrah . mail'
s6.split('_')[0]
'kalka . howrah . mail'

'kalka . howrah . mail'

In [40]:

# 25. Extract all alphabets from a string.
s6

s6.rstrip('_')

s6

str(s6)
list(s6)

['k',
 'a',
 'l',
 'k',
 'a',
 ' ',
 '.',
 ' ',
 'h',
 'o',
 'w',
 'r',
 'a',
 'h',
 ' ',
 '.',
 ' ',
 'm',
 'a',
 'i',
 'l']

In [ ]:
# 26. Count the number of uppercase letters in a string

In [82]:
s2 = "skils"

In [83]:
s2.isupper()

False

In [ ]:
# 27. Count the number of lowercase letters in a string.

In [84]:
s2.islower()

True

In [ ]:
# 28. Swap the case of each character in a string

In [86]:
s2 ='kalka howrah mail'
s2.swapcase()

'KALKA HOWRAH MAIL'

In [ ]:
# 29. Remove a specific word from a string

In [88]:
s2 = 'azad hind'
s2.removesuffix('hind')

'azad '

In [ ]:
# 30. Check if a string is a valid email address

In [89]:
s3 = 'viush@gmail.com'
s3.count('vius@gmail.com')
0

0

In [ ]:
# 31. Extract the username from an email address string.

In [91]:
s4 = 'hello vishal34@gmail.com'

s4[6:12]

'vishal'

In [ ]:
# 32. Extract the domain name from an email address string

In [94]:
s4 = 'neelanchal express'
s4[14:26]

'ress'

In [ ]:
# 33. Replace multiple spaces in a string with a single space

In [95]:
s2= 'vishal     rajput'
s2.replace('     ',' ')

'vishal rajput'

In [ ]:
# 34. Check if a string is a valid URL.

In [ ]:
# 35. Extract the protocol (http or https) from a URL string.

In [97]:
 s8 = 'kalindi express'
s8[0:4]

'kali'

In [ ]:
# 36. Find the frequency of each character in a string.

In [98]:
s1 = 'indore patna express'
print('patna' in s1)

True

In [ ]:
# 37. Remove all punctuation from a string.

In [99]:
print('indore' in s1)

True

In [ ]:
# 38. Check if a string contains only digits.

In [100]:
s2= 'north east express'
s2.isdigit()

False

In [ ]:
# 39. Check if a string contains only alphabets

In [101]:
s2
'prayag raj express'
s2.isalpha()

False

In [ ]:
# 40. Convert a string to a list of characters.

In [102]:
s1
'tatanagar jammutawi express'
x = list(s1)
print(x)

['i', 'n', 'd', 'o', 'r', 'e', ' ', 'p', 'a', 't', 'n', 'a', ' ', 'e', 'x', 'p', 'r', 'e', 's', 's']

In [ ]:
# 41. Check if two strings are anagrams

In [103]:
s1
'listen'
s2
'silent'
def are_anagram(s1:str,s2:str)->bool:return sorted(s1)== sorted(s2)

In [ ]:
# 42. Encode a string using a Caesar cipher

In [105]:
s2 = 'jhelum express'
s2.count('l')

1

In [ ]:
# 45. Find all unique words in a string.

In [106]:
s2 =  'jingle bell'
s2.count('s2')

0

In [ ]:
# 46. Count the number of syllables in a string.

In [108]:
count = "piyush chaubey"
print('number of vowels in s2', count)

number of vowels in s2 piyush chaubey

In [ ]:
# 47. Check if a string contains any special characters

In [110]:
s1 = 'gdwsvxuw454'
s1.isidentifier()
s1.isalnum()

True

In [ ]:
# 48. Remove the nth word from a string.

In [111]:
s1 = ' n hbvxnn'
s1.replace('n','0')

' 0 hbvx00'

In [ ]:
# 49. Insert a word at the nth position in a string

In [112]:
s = 'vushg'
s[:4] + '_'+ s[4:]

'vush_g'

In [ ]:
# 50. Convert a CSV string to a list of lists

In [113]:
s5 = 'visha, iu'
x = ['v,9,i,90']
x = list(s5)
print(s5)

visha, iu

In [ ]:
#1. Create a list with integers from 1 to 10.

In [1]:
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
# 3. Append an element to the end of a list.

In [2]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
l.append('11')

In [4]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '11']

In [ ]:
# 4. Insert an element at a specific index in a list.

In [5]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '11']

In [9]:
l.insert(4,'mail')

In [10]:
l

[1, 2, 3, 4, 'mail', 5, 6, 7, 8, 9, 10, '11']

In [ ]:
# .6. Remove an element from a list by its index.

In [11]:
l

[1, 2, 3, 4, 'mail', 5, 6, 7, 8, 9, 10, '11']

In [12]:
l.pop(3)

4

In [13]:
l

[1, 2, 3, 'mail', 5, 6, 7, 8, 9, 10, '11']

In [ ]:
# 5. Remove an element from a list by its value.

In [14]:
l

[1, 2, 3, 'mail', 5, 6, 7, 8, 9, 10, '11']

In [15]:
l.remove('11')

In [16]:
l

[1, 2, 3, 'mail', 5, 6, 7, 8, 9, 10]

In [ ]:
# 8. Find the index of the first occurrence of an element in a list.

In [17]:
l

[1, 2, 3, 'mail', 5, 6, 7, 8, 9, 10]

In [22]:
l.index(3)

2

In [ ]:
# 9. Count the occurrences of an element in a list.

In [23]:
l

[1, 2, 3, 'mail', 5, 6, 7, 8, 9, 10]

In [24]:
l.count(3)

1

In [ ]:
# 10. Reverse the order of elements in a list.

In [25]:
l

[1, 2, 3, 'mail', 5, 6, 7, 8, 9, 10]

In [26]:
l[::-1]

[10, 9, 8, 7, 6, 5, 'mail', 3, 2, 1]

In [ ]:
# 11. Sort a list in ascending order.

In [27]:
l

[1, 2, 3, 'mail', 5, 6, 7, 8, 9, 10]

In [34]:
l1 = ["anand","vihar","to","kamakhya","via","aligarh","north","east","express"]

In [35]:
l1

['anand',
 'vihar',
 'to',
 'kamakhya',
 'via',
 'aligarh',
 'north',
 'east',
 'express']

In [36]:
l1.sort()

In [37]:
l1

['aligarh',
 'anand',
 'east',
 'express',
 'kamakhya',
 'north',
 'to',
 'via',
 'vihar']

In [ ]:
# 12. Sort a list in descending order.

In [38]:
l1

['aligarh',
 'anand',
 'east',
 'express',
 'kamakhya',
 'north',
 'to',
 'via',
 'vihar']

In [39]:
l1.sort(reverse = True)

In [40]:
l1

['vihar',
 'via',
 'to',
 'north',
 'kamakhya',
 'express',
 'east',
 'anand',
 'aligarh']

In [ ]:
# 13. Create a list of even numbers from 1 to 20.

In [2]:
l2 = [2,4,6,8,10,12,14,16,18,20]

In [42]:
l2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 14. Create a list of odd numbers from 1 to 20.

In [3]:
l3 = [1,3,5,7,9,11,13,15,17,19]

In [44]:
l3

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 16. Find the maximum value in a list.

In [54]:
l2[-1:]

[20]

In [ ]:
# 17. Find the minimum value in a list.

In [56]:
l3

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [57]:
l3[0:1]

[1]

In [ ]:
# 18. Create a list of squares of numbers from 1 to 10.

In [16]:
l4 = [1,4,9,16,25,36,49,64,81,100]

In [59]:
l4

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#19. Create a list of random numbers.

In [5]:
l5 = [2,34,4,5,6,78,7,7,4]

In [63]:
l5

[2, 34, 4, 5, 6, 78, 7, 7, 4]

In [ ]:
# 20. Remove duplicates from a list.

In [65]:
type(l5)

list

In [66]:
set(list(l5))

{2, 4, 5, 6, 7, 34, 78}

In [ ]:
# 21. Find the common elements between two lists.

In [67]:
l2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [68]:
l3

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [70]:
l5

[2, 34, 4, 5, 6, 78, 7, 7, 4]

In [71]:
l3[2:3] = l5[5:6]

In [73]:
l2[0:1] = l5[1:2]

In [74]:
l2

[34, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [75]:
l3

[2, 34, 4, 5, 6, 78, 7, 7, 4]

In [76]:
l5

[2, 34, 4, 5, 6, 78, 7, 7, 4]

In [ ]:
# 23. Merge two lists.

In [80]:
l2 + l3

[34, 4, 6, 8, 10, 12, 14, 16, 18, 20, 2, 34, 4, 5, 6, 78, 7, 7, 4]

In [ ]:
# 24. Multiply all elements in a list by 2.

In [81]:
l5

[2, 34, 4, 5, 6, 78, 7, 7, 4]

In [6]:
l4

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [83]:
l5*2

[2, 34, 4, 5, 6, 78, 7, 7, 4, 2, 34, 4, 5, 6, 78, 7, 7, 4]

In [ ]:
# 25. Filter out all even numbers from a list.

In [10]:
l5

[2, 34, 4, 5, 6, 78, 7, 7, 4]

In [19]:
l6 = [2,3,4,5,6,7]

In [20]:
l6

[2, 3, 4, 5, 6, 7]

In [21]:
l6[0:6:2]

[2, 4, 6]

In [ ]:
# 26. Convert a list of strings to a list of integers.

In [27]:
l7 = "neelanchal"

In [28]:
l7

'neelanchal'

In [33]:
l8 = [1,2,3,4,5,6,7,8]

In [72]:
l7 = list(l8)

In [73]:
l7

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 27. Convert a list of integers to a list of strings.

In [40]:
l9 = [6,7,8,9]

In [41]:
l9

[6, 7, 8, 9]

In [67]:
l10 = ["skills"]

In [68]:
l10

['skills']

In [69]:
l9 = list(l10)

In [70]:
l9

['skills']

In [ ]:
# 28. Flatten a nested list.

In [143]:
l11 = ['farraka', 'express',1,2,3,4,[5,6,7],(8+7j) ]

In [ ]:
 # 29. Create a list of the first 10 Fibonacci numbers.

In [1]:
l12 = [1,2,5,7,13,20,33,53,86,139]

In [ ]:
 # 30. Check if a list is sorted.

In [77]:
l12

[1, 2, 5, 7, 13, 20, 33, 53, 86, 139]

In [82]:
l12.sort()      # signify that list is sorted in ascending order

In [87]:
l12.sort(reverse = True)   # signify that list is sorted in descending order

In [ ]:
# 32. Rotate a list to the right by `n` positions.

In [88]:

l12

[139, 86, 53, 33, 20, 13, 7, 5, 2, 1]

In [99]:
l12[:-8:-1]    # signify that the string is rotated by last three positions from right by 8th term

[1, 2, 5, 7, 13, 20, 33]

In [ ]:
# 31. Rotate a list to the left by `n` positions.

In [101]:
l12

[139, 86, 53, 33, 20, 13, 7, 5, 2, 1]

In [104]:
l12[0:5:1][::-1]

[20, 33, 53, 86, 139]

In [ ]:
 # 33. Create a list of prime numbers up to 50.

In [3]:
l14 = [2,3,5,7,11,13,17,19,23,29,31,37,43,47,49]

In [ ]:
 # 34. Split a list into chunks of size `n`.

In [10]:
l15 = "chaubey"

In [11]:
l15

'chaubey'

In [12]:
list(l15)

['c', 'h', 'a', 'u', 'b', 'e', 'y']

In [ ]:
 # 35. Find the second largest number in a list

In [13]:
l14

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 43, 47, 49]

In [15]:
l14[13:14:1]

[47]

In [ ]:
 # 36. Replace every element in a list with its square.

In [17]:
l4

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
l16 = [1,2,3,4,5,6,7,8,9,10]

In [20]:
l16

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
l16 = list(l4)

In [23]:
l16

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 37. Convert a list to a dictionary where list elements become keys and their
indices become values

In [24]:
d1 ={}

In [25]:
type(d1)

dict

In [30]:
d1 = {"name":"piyush_chaubey", "train": "13484"}

In [28]:
l4

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
l4 = list(d1)

In [33]:
l4

['name', 'train']

In [ ]:
# 38. Shuffle the elements of a list randomly

In [34]:
l16

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
l16[1:10:2][::-1]

[100, 64, 36, 16, 4]

In [ ]:
# 39. Create a list of the first 10 factorial numbers

In [38]:
l17 = [1,2,6,24,120,720,5040,40320,362880,3628800]

In [39]:
l17

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
  # Check if two lists have at least one element in common.

In [40]:
l16

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
l17

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [44]:
l18 = [1,2,34,5,64,4]

In [45]:
l18

[1, 2, 34, 5, 64, 4]

In [47]:
l16[1:2]

[4]

In [52]:
l18[5:]

[4]

In [53]:
l16[1:2] = l18[5:]   #signify that they have one commen point that is '4'

In [ ]:
# 41. Remove all elements from a list

In [54]:
l18

[1, 2, 34, 5, 64, 4]

In [74]:
l18.pop()

4

In [76]:
l18.pop()

64

In [77]:
l18

[1, 2, 34, 5]

In [78]:
l18.pop()

5

In [79]:
l18

[1, 2, 34]

In [80]:
l18.pop()

34

In [81]:
l18

[1, 2]

In [82]:
l18.pop()

2

In [83]:
l18

[1]

In [84]:
l18.pop()

1

In [85]:
l18  # hence all elements are removed

[]

In [ ]:
 # 42. Replace negative numbers in a list with 0.

In [86]:
l19 = [-1,-2,-3]

In [87]:
l19

[-1, -2, -3]

In [93]:
l19.insert(0,l19[0:3])

In [94]:
l19

[[-1, -2, -3], -1, -2, -3]

In [95]:
l19.insert(0,0)

In [96]:
l19

[0, [-1, -2, -3], -1, -2, -3]

In [97]:
l19.insert(1,0)

In [98]:
l19

[0, 0, [-1, -2, -3], -1, -2, -3]

In [99]:
l19.insert(2,0)

In [100]:
l19

[0, 0, 0, [-1, -2, -3], -1, -2, -3]

In [101]:
l19.pop()

-3

In [102]:
l19

[0, 0, 0, [-1, -2, -3], -1, -2]

In [103]:
l19.pop()

-2

In [104]:
l19

[0, 0, 0, [-1, -2, -3], -1]

In [106]:
l19.pop()

-1

In [107]:
l19

[0, 0, 0, [-1, -2, -3]]

In [108]:
l19.pop()

[-1, -2, -3]

In [109]:
l19        # hence we got the 0 on all the index

[0, 0, 0]

In [ ]:
#43. Convert a string into a list of words.

In [115]:
l20 = "grant"

In [116]:
l20

'grant'

In [117]:
list(l20)

['g', 'r', 'a', 'n', 't']

In [ ]:
# 44. Convert a list of words into a string

In [118]:
l21 = ["mahananda"]

In [119]:
type(l21)

list

In [120]:
l22 = "kashi"

In [121]:
l22

'kashi'

In [122]:
l21 =  list(l22)

In [123]:
l21

['k', 'a', 's', 'h', 'i']

In [ ]:
# 45. Create a list of the first `n` powers of 2.

In [124]:
l23 = [1,2,4,8,16,32,64,128,256,512]

In [125]:
l23

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
# 46. Find the longest string in a list of strings

In [140]:
l24 = ["tatanagar","jammutawi","muri","express"]

In [127]:
l24

['tatanagar', 'jammutawi', 'muri', 'express']

In [130]:
l24.sort(reverse = True)

In [131]:
l24

['tatanagar', 'muri', 'jammutawi', 'express']

In [136]:
l24[0:1]+l24[2:3]

['tatanagar', 'jammutawi']

In [ ]:
# 47. Find the shortest string in a list of strings

In [137]:
l24

['tatanagar', 'muri', 'jammutawi', 'express']

In [139]:
l24[1:2]+l24[3:4]

['muri', 'express']

In [ ]:
# 48. Create a list of the first `n` triangular numbers

In [141]:
l25 = [1,3,6,10,15,21]

In [142]:
l25

[1, 3, 6, 10, 15, 21]

In [ ]:
 # 49. Check if a list contains another list as a subsequence

In [144]:
l11

['farraka', 'express', 1, 2, 3, 4, [5, 6, 7], (8+7j)]

In [145]:
l11[6:7]

[[5, 6, 7]]

In [150]:
l11.index([ 5,6,7])    # it proves that the subsequence is on index '6'

6

In [ ]:
# 50. Swap two elements in a list by their indices

In [151]:
l26 = [1,2,3]

In [152]:
l26

[1, 2, 3]

In [154]:
x = l26[0:1]

In [155]:
x

[1]

In [156]:
l27 = [4,5,6]

In [157]:
l27

[4, 5, 6]

In [158]:
y = l27[0:1]

In [159]:
y

[4]

In [165]:
x = l27[0:1]

In [166]:
l27

[4, 5, 6]

In [168]:
y  = l26[0:1]

In [169]:
l26

[1, 2, 3]

In [ ]:
                                       # TUPPLES ARE STARTED

In [ ]:
# 1. Create a tuple with integers from 1 to 5.

In [171]:
t = ()

In [173]:
type(t)

tuple

In [174]:
t = (1,2,3,4,5)

In [176]:
t

(1, 2, 3, 4, 5)

In [ ]:
# 2. Access the third element of a tuple.

In [175]:
t[3:4]

(4,)

In [ ]:
# 3. Find the length of a tuple without using the `len()` function

In [177]:
t

(1, 2, 3, 4, 5)

In [ ]:
# NOTE 1/-   to prove:- lenght of string  = total index + 1

In [178]:
t.index(5)        #since last element is on the 4th position

4

In [ ]:
length = 4 + 1  =5 elements      # FROM NOTE 1

In [ ]:
# 4. Count the occurrences of an element in a tuple.

In [179]:
t

(1, 2, 3, 4, 5)

In [180]:
t.count(3)

1

In [ ]:
# 5. Find the index of the first occurrence of an element in a tuple

In [181]:
t

(1, 2, 3, 4, 5)

In [182]:
t[0:1].count(1)

1

In [ ]:
# 6. Check if an element exists in a tuple

In [183]:
t

(1, 2, 3, 4, 5)

In [184]:
t.index(6)         # hence proved that error showed given supossed(6) element is not present in tuple

ValueError: tuple.index(x): x not in tuple

In [ ]:
# 7. Convert a tuple to a list

In [185]:
t

(1, 2, 3, 4, 5)

In [186]:
list(t)

[1, 2, 3, 4, 5]

In [ ]:
#  8. Convert a list to a tuple

In [187]:
t

(1, 2, 3, 4, 5)

In [189]:
l27

[4, 5, 6]

In [190]:
tuple(l27)

(4, 5, 6)

In [ ]:
# 9. Unpack the elements of a tuple into variables

In [191]:
t

(1, 2, 3, 4, 5)

In [193]:
t1 = "lucky"

In [194]:
t1

'lucky'

In [195]:
tuple(t1)

('l', 'u', 'c', 'k', 'y')

In [ ]:
# 10. Create a tuple of even numbers from 1 to 10

In [246]:
t2 = (2,4,6,8,10)

In [197]:
t2

(2, 4, 6, 8, 10)

In [ ]:
#11. Create a tuple of odd numbers from 1 to 10.

In [198]:
t3 = (1,3,5,7,9)

In [199]:
t3

(1, 3, 5, 7, 9)

In [ ]:
# 12. Concatenate two tuples

In [247]:
t2

(2, 4, 6, 8, 10)

In [201]:
t3

(1, 3, 5, 7, 9)

In [203]:
t2+t3

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [ ]:
# 13. Repeat a tuple three times

In [204]:
t2

(2, 4, 6, 8, 10)

In [205]:
t2*2

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

In [ ]:
# 14. Check if a tuple is empty.

In [206]:
t2

(2, 4, 6, 8, 10)

In [207]:
t3

(1, 3, 5, 7, 9)

In [214]:
t3.index(5,3,1)            # hence proved that the given element have some index but in case of empty tuple
                            #  index=no element

ValueError: tuple.index(x): x not in tuple

In [215]:
t3.index(7,9)

ValueError: tuple.index(x): x not in tuple

In [ ]:
# 15. Create a nested tuple.

In [216]:
t4 = (1,2,3,(4,5,6))

In [217]:
t4

(1, 2, 3, (4, 5, 6))

In [ ]:
# 16. Access the first element of a nested tuple             #

In [225]:
t4[3:4][0:1]

((4, 5, 6),)

In [ ]:
 # 17. Create a tuple with a single element

In [241]:
t5 = (3)

In [242]:
t5

3

In [ ]:
# 18. Compare two tuples.

In [248]:
t2

(2, 4, 6, 8, 10)

In [249]:
t3

(1, 3, 5, 7, 9)

In [250]:
t2<t3

False

In [ ]:
# 19. Delete a tuple                        #

In [251]:
t2

(2, 4, 6, 8, 10)

In [252]:
t3

(1, 3, 5, 7, 9)

In [ ]:
#20. Slice a tuple.

In [267]:
t5 = ("shivaji")

In [268]:
t5

'shivaji'

In [269]:
t5[0:3]

'shi'

In [ ]:
#21. Find the maximum value in a tuple

In [270]:
t2

(2, 4, 6, 8, 10)

In [271]:
t2[-1]

10

In [ ]:
# 22. Find the minimum value in a tuple.

In [273]:
t2

(2, 4, 6, 8, 10)

In [274]:
t2[0]

2

In [ ]:
# 23. Convert a string to a tuple of characters

In [275]:
t5

'shivaji'

In [276]:
s1  = "maharaj"

In [278]:
type(s1)

str

In [279]:
s1 = tuple(t5)

In [280]:
s1

('s', 'h', 'i', 'v', 'a', 'j', 'i')

In [ ]:
# 24. Convert a tuple of characters to a string

In [281]:
t5

'shivaji'

In [283]:
s2 = "chatrapati"

In [284]:
type(s2)

str

In [286]:
s2 = str(t5)

In [287]:
s2

'shivaji'

In [ ]:
# 25. Create a tuple from multiple data types

In [310]:
t6 = ("key","express",2345,"skills")

In [311]:
str(t6)

"('key', 'express', 2345, 'skills')"

In [312]:
list(t6)

['key', 'express', 2345, 'skills']

In [314]:
t2

(2, 4, 6, 8, 10)

In [315]:
t3

(1, 3, 5, 7, 9)

In [316]:
set(t2)

{2, 4, 6, 8, 10}

In [317]:
set(t3)

{1, 3, 5, 7, 9}

In [318]:
set(t2) == set(t3)

False

In [ ]:
# 27. Sort the elements of a tuple

In [319]:
t6 = (58,543,67,73)

In [320]:
t6

(58, 543, 67, 73)

In [340]:
t6[0:1] + t6[2:3] + t6[3:4] + t6[1:2]     # hence above tuple is sorted

(58, 67, 73, 543)

In [ ]:
# 28. Convert a tuple of integers to a tuple of strings

In [341]:
t6

(58, 543, 67, 73)

In [342]:
t7 = ("kaifiyat")

In [343]:
t7

'kaifiyat'

In [344]:
t7 = tuple(t6)

In [345]:
t7

(58, 543, 67, 73)

In [ ]:
# 29. Convert a tuple of strings to a tuple of integers.

In [346]:
t7

(58, 543, 67, 73)

In [348]:
t8 = ("dr abdul kalam")

In [349]:
t8 = tuple(t7)

In [350]:
t8

(58, 543, 67, 73)

In [ ]:
# 30. Merge two tuples

In [351]:
t2

(2, 4, 6, 8, 10)

In [352]:
t3

(1, 3, 5, 7, 9)

In [353]:
t2 + t3

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [ ]:
# 31. Flatten a nested tuple                      #

In [ ]:
# 32. Create a tuple of the first 5 prime numbers.

In [354]:
t9 = (2,3,5,7,11)

In [355]:
t9

(2, 3, 5, 7, 11)

In [ ]:
# 33. Check if a tuple is a palindrome.

In [356]:
t10 = ["dhoni", "is", "dhoni"]

In [357]:
t10

['dhoni', 'is', 'dhoni']

In [360]:
t10[::-1]

['dhoni', 'is', 'dhoni']

In [ ]:
#  above tuple is palindrome

In [ ]:
# 34. Create a tuple of squares of numbers from 1 to 5.

In [361]:
t11 = (1,4,9,16,25)

In [362]:
t11

(1, 4, 9, 16, 25)

In [ ]:
# 35. Filter out all even numbers from a tuple.

In [363]:
t11

(1, 4, 9, 16, 25)

In [365]:
t11[1:5:2]

(4, 16)

In [ ]:
# 36. Multiply all elements in a tuple by 2.               #

In [372]:
list(t11)

[1, 4, 9, 16, 25]

In [373]:
list(t11)^2

TypeError: unsupported operand type(s) for ^: 'list' and 'int'

In [ ]:
# 37. Create a tuple of random numbers

In [376]:
t12 = (4,5,7,8,3)

In [377]:
t12

(4, 5, 7, 8, 3)

In [378]:
t12.index(3)

4

In [379]:
t12.index(8)       #  since '3' is on the right index according to descending sorting but '8' is not 
                   #  that indicates given tuple is not sorted

3

In [ ]:
# 39. Rotate a tuple to the left by `n` positions

In [380]:
t12

(4, 5, 7, 8, 3)

In [384]:
t12[0:3][::-1]

(7, 5, 4)

In [ ]:
# 40. Rotate a tuple to the right by `n` positions.

In [385]:
t12

(4, 5, 7, 8, 3)

In [388]:
t12[-3:-1][::-1]

(8, 7)

In [ ]:
# 41. Create a tuple of the first 5 Fibonacci numbers

In [1]:
t13 = (1,2,5,7,13
      )

In [2]:
t13

(1, 2, 5, 7, 13)

In [ ]:
# 42. Create a tuple from user input

In [3]:
t13

(1, 2, 5, 7, 13)

In [4]:
t14 = (1,3,6,9,10)

In [5]:
t14

(1, 3, 6, 9, 10)

In [ ]:
# 43. Swap two elements in a tuple

In [6]:
t14

(1, 3, 6, 9, 10)

In [22]:
(t14[0:1] + t14[4:5])

(1, 10)

In [24]:
 t14[4:5] + t14[0:1]

(10, 1)

In [21]:
(t14[0:1] + t14[4:5]) ==  (t14[4:5] + t14[0:1] )

False

In [ ]:
# 44. Reverse the elements of a tuple.

In [25]:
t14

(1, 3, 6, 9, 10)

In [26]:
t14[::-1]

(10, 9, 6, 3, 1)

In [ ]:
# 45. Create a tuple of the first `n` powers of 2.

In [29]:
t15 = (2,4,8,16,32)

In [30]:
t15

(2, 4, 8, 16, 32)

In [ ]:
# 46. Find the longest string in a tuple of strings.

In [31]:
t16 = ("india","is","on","moon")

In [32]:
t16

('india', 'is', 'on', 'moon')

In [37]:
t16.index("india")

0

In [ ]:
# 47. Find the shortest string in a tuple of strings

In [34]:
t16

('india', 'is', 'on', 'moon')

In [36]:
t16.index("on")

2

In [ ]:
# 48. Create a tuple of the first `n` triangular numbers

In [38]:
t17 = (1,3,6,10,15,21)

In [39]:
t17

(1, 3, 6, 10, 15, 21)

In [ ]:
# 49. Check if a tuple contains another tuple as a subsequence

In [40]:
t18 = (1,2,3,"superconductor","magnetic",(4,5,6))

In [41]:
t18

(1, 2, 3, 'superconductor', 'magnetic', (4, 5, 6))

In [46]:
t18.index((4,5,6))

5

In [ ]:
# 50. Create a tuple of alternating 1s and 0s of length `n`

In [47]:
t19 = (10,101,1010,101010,101001)         # theory of computation

In [48]:
t19

(10, 101, 1010, 101010, 101001)

In [ ]:
                                  # DICTIONARY IS STARTED

In [ ]:
# Create a set with integers from 1 to 5.

In [53]:
s = {}

In [54]:
type(s)

dict

In [4]:
 s = {1,2,3,4,5}

In [56]:
type(s)

set

In [57]:
s

{1, 2, 3, 4, 5}

In [ ]:
# 2. Add an element to a set.

In [5]:
s

{1, 2, 3, 4, 5}

In [60]:
s.add(6)

In [6]:
s

{1, 2, 3, 4, 5}

In [ ]:
# 3. Remove an element from a set.

In [7]:
s

{1, 2, 3, 4, 5}

In [64]:
s.remove(5)

In [8]:
s

{1, 2, 3, 4, 5}

In [ ]:
# 4. Check if an element exists in a set.

In [4]:
s ={1, 2, 3, 4, 5}

In [ ]:
# 5. Find the length of a set without using the `len()` function

In [10]:
s

{1, 2, 3, 4, 5}

In [16]:
type(s)

set

In [17]:
list(s)

[1, 2, 3, 4, 5]

In [18]:
s

{1, 2, 3, 4, 5}

In [19]:
list(s)[0:5]

[1, 2, 3, 4, 5]

In [ ]:
list(s)[0:5] + list(s)[0:1]

In [ ]:
 # 6. Clear all elements from a set

In [5]:
s
{3, 4, 5, 6}
s.clear()
set()

set()

In [ ]:
# 7. Create a set of even numbers from 1 to 10.

In [6]:
s1 = {2,4,6,8,10}

In [ ]:
 # 8. Create a set of odd numbers from 1 to 10.

In [7]:
s2 = {1,3,5,7,9}

In [ ]:
# 9. Find the union of two sets.

In [8]:
s1 
{1, 2, 4, 6, 8, 10}

{1, 2, 4, 6, 8, 10}

In [ ]:
# 10. Find the intersection of two sets.

In [9]:
s1
{1, 2, 4, 6, 8, 10}
s2


{1, 3, 5, 7, 9}
print(s2.intersection(s1))
{1}

set()

{1}

In [ ]:
# 11. Find the difference between two sets.

In [10]:
s1
{1, 2, 4, 6, 8, 10}
s2
{1, 3, 5, 7, 9}
print(s2.difference(s1))
{9, 3, 5, 7}

{1, 3, 5, 7, 9}

{3, 5, 7, 9}

In [ ]:
# 12. Check if a set is a subset of another set

In [11]:
s1
{1, 2, 4, 6, 8, 10}
s2

{1, 3, 5, 7, 9}
s1.issubset(s2)

False

In [ ]:
# 13. Check if a set is a superset of another set.

In [12]:
s1
{1, 2, 4, 6, 8, 10}
s2
{1, 3, 5, 7, 9}
s1.issuperset(s2)

False

In [ ]:
# 14. Create a set from a list.

In [13]:
l1 = [1,2,3,4]
set(l1)
{1, 2, 3, 4}

{1, 2, 3, 4}

In [14]:
# 15. Convert a set to a list

In [17]:
s1
{1, 2, 4, 6, 8, 10}
list(l1)
[1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
# 16. Remove a random element from a set.

In [24]:
s1
{1, 2, 4, 6, 8, 10}
s1.remove(2)
s1 ={2, 4, 6, 8, 10}

In [25]:
s1

{2, 4, 6, 8, 10}

In [ ]:
# 17. Pop an element from a set

In [30]:
s1.pop()

8

In [ ]:
# 18. Check if two sets have no elements in common.

In [31]:
s4 = {1,2,3}
s5 = {5,6,7}
s5.intersection(s4)
set()

set()

In [ ]:
# 19. Find the symmetric difference between two sets

In [32]:
s4
{1, 2, 3}
s4.difference(s1)
{1, 2, 3}

{1, 2, 3}

In [ ]:
# 20. Update a set with elements from another set.

In [33]:
s1
{4, 6, 8, 10}
s2
{1, 3, 5, 7, 9}
s1 = s2
s1
{1, 3, 5, 7, 9}

{1, 3, 5, 7, 9}

In [ ]:
# 21. Create a set of the first 5 prime numbers

In [34]:
s7= {2,3,5,11}

In [35]:
s7

{2, 3, 5, 11}

In [ ]:
# 22. Check if two sets are identical.

In [38]:
s1
{1, 3, 5, 7, 9}
s2
{1, 3, 5, 7, 9}
s1 == s2
True

True

In [37]:
s1

{1, 3, 5, 7, 9}

In [ ]:
# 23. Create a frozen set.

In [44]:
vowels = ('a','e','i','o','u')
fset= frozenset(vowels)
print('the frozen set is :', fset)
the frozen set is : frozenset({'e', 'a', 'o', 'i', 'u'})

SyntaxError: invalid syntax (2231445567.py, line 4)

In [ ]:
# 24. Check if a set is disjoint with another set

In [45]:
s1
{1, 3, 5, 7, 9}
s2
{1, 3, 5, 7, 9}
s1.isdisjoint(s2)

False

In [ ]:
# 25. Create a set of squares of numbers from 1 to 5

In [46]:
#25
s3 ={1,4,9,16,25}
s3
{1, 4, 9, 16, 25}

{1, 4, 9, 16, 25}

In [ ]:
# 26. Filter out all even numbers from a set.

In [47]:
s3
{1, 4, 9, 16, 25}
even_nos = [num for num in s3 if num %2 == 0]
print('even numbers in the s3:', even_nos)

even numbers in the s3: [16, 4]

In [ ]:
# 27. Multiply all elements in a set by 2.

In [49]:

s1
{1, 3, 5, 7, 9}
s1
{1, 3, 5, 7, 9}
2
2

2

In [ ]:
# 28. Create a set of random numbers

In [50]:
s4 = {23,6,57,68,7}

In [51]:
s4

{6, 7, 23, 57, 68}

In [ ]:
# 29. Check if a set is empty

In [57]:
s1
{1, 3, 5, 7, 9}
# fuction definer set vis nat empty 
s1.update()

In [58]:
s1

{1, 5, 7, 9}

In [ ]:
 # 30. Create a nested set (hint: use frozenset).

In [53]:
vowels = ('a','e','i','o','u')
fset= frozenset(vowels)
print('the frozen set is :', fset)
the frozen set is : frozenset({'e', 'a', 'o', 'i', 'u'})
fset.union('v')
frozenset({'a', 'e', 'i', 'o', 'u', 'v'})

SyntaxError: invalid syntax (2738154819.py, line 4)

In [ ]:
# 31. Remove an element from a set using the discard method.

In [55]:
s1
{1, 3, 5, 9}
s1.discard(3)

In [56]:
s1

{1, 5, 7, 9}

In [ ]:
# 32. Compare two sets.

In [59]:
s1
{1, 5, 9}
s2
{1, 5, 9}
s1 == s2

True

In [ ]:
# 33. Create a set from a string.

In [61]:
print('7')
7
print(type('7'))

7
<class 'str'>

In [ ]:
# 34. Convert a set of strings to a set of integers.

In [62]:
print({7})
{7}
print(type({7}))

{7}
<class 'set'>

In [ ]:
# 35. Convert a set of integers to a set of strings

In [63]:
s4 = {1,2,3}
str(s4)
'{1, 2, 3}'

'{1, 2, 3}'

In [ ]:
# 36. Create a set from a tuple

In [64]:
t1 = (1,2,3)
set(t1)
{1, 2, 3}

{1, 2, 3}

In [ ]:
# 37. Convert a set to a tuple.

In [65]:
s1
{1, 5, 9}
tuple(s1)
(1, 5, 9)

(1, 5, 9)

In [ ]:
# 40. Create a set from user input

In [67]:
set = input()

 4

In [ ]:
# 41. Check if the intersection of two sets is empty

In [68]:
s1 = {1,2,3}
s2 = {4,5,6}
s1.intersection(s2)

set()

In [ ]:
# 42. Create a set of the first 5 Fibonacci numbers.

In [69]:
s4=  {0,1,1,2,3,5,8,13,21,34}

In [70]:
s4

{0, 1, 2, 3, 5, 8, 13, 21, 34}

In [ ]:
# 43. Remove duplicates from a list using sets.

In [71]:
s9 = {1,1,2,3}

In [72]:
s9

{1, 2, 3}

In [ ]:
# 45. Create a set of the first `n` powers of 2.

In [73]:
s4 = {2,4,8,16}

In [ ]:
# 46. Find the common elements between a set and a list.

In [74]:
l1 = [1,2,3,4]
s1
{1, 2, 3}
l1.count(s1)

0

In [ ]:
# 47. Create a set of the first `n` triangular numbers

In [75]:
s = {0,1,6,10,15,21,28,36,45,55,66,78,91,105}

In [76]:
s

{0, 1, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105}

In [ ]:
# 48. Check if a set contains another set as a subset

In [77]:
s1
{1, 2, 3}
s2
{4, 5, 6}
s1.issubset(s2)

False

In [ ]:
# 49. Create a set of alternating 1s and 0s of length `n`.

In [78]:
s4 = {1,0,1,0,1,0,1}

In [79]:
s4

{0, 1}

In [ ]:
# 50. Merge multiple sets into one.

In [80]:
s1
{1, 2, 3}
s2
{4, 5, 6}
s4
{0, 1}

{0, 1}