In [ ]:

# 1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for i in l :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#  2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [13]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
len(l)

10

In [16]:
range(len(l))

range(0, 10)

In [3]:
result = 0
for i in l :
    result = result + i
result

55

In [ ]:
# 3. Write a program to print the characters of a string in reverse order using a `for` loop

In [4]:
s = "kalka"

In [5]:
s

'kalka'

In [9]:
s[::-1]

'aklak'

In [10]:
type(s)

str

In [12]:
list(s)

['k', 'a', 'l', 'k', 'a']

In [14]:
list(s)[::-1
       ]

['a', 'k', 'l', 'a', 'k']

In [16]:
for i in list(s)[::-1]:
    print(i)

a
k
l
a
k

In [ ]:
# 4. Develop a program that finds the factorial of a given number using a `for` loop

In [18]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [19]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
range(5)

range(0, 5)

In [21]:
list(range(5))

[0, 1, 2, 3, 4]

In [22]:
len(l1)

10

In [26]:
range(0,len(l1),1)

range(0, 10)

In [27]:
list(range(0,len(l1),1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:

number = int(input("enter your number"))
factorial = 1 
while number > 0 :                              # factorial using while loop
    factorial = factorial*number
    number = number-1
factorial

enter your number 6

720

In [49]:
s = 1
for a in list(range(2,10)):
    a = a-1
    s = a*s
    print(s)

1
2
6
24
120
720
5040
40320

In [ ]:
# 5. Create a program to print the multiplication table of a given number using a `for` loop

In [44]:
for i in range(1,11):
    print("7 *",i,"=",7*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
# 10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [3]:
number = int(input("enter the number of element you are looking for "))
a , b  = 0 , 1 
counter = 0 
while counter < number : 
    print(a)
    c = a+ b
    a = b 
    b = c 
    counter= counter+ 1

enter the number of element you are looking for  6

0
1
1
2
3
5

In [ ]:
# 8. Create a program to find the length of a string without using the `len()` function

In [4]:
l = [1,2,3,4,5,6]

In [5]:
l

[1, 2, 3, 4, 5, 6]

In [13]:
index = int(input("enter the total number of index"))

for i in  l[5:6]:
    length = index + 1
    print(length)

enter the total number of index 6

7

In [ ]:
# 7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop

In [2]:
l1 = [1,2,3,4,5]

In [15]:
l1

[1, 2, 3, 4, 5]

In [16]:
for i in l1[0:5]:
    i = i**2
    print(i)

1
4
9
16
25

In [ ]:
# 9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [6]:
l = [1,2,3,4,5]

In [7]:
l

[1, 2, 3, 4, 5]

In [18]:
result = 0
for i in l:
    result = result +i
    average = result/5
average

3.0

In [ ]:
# Write a Python program to find the product of all elements in a list using a for loop.

In [2]:
l = [1,2,3,4,5]

In [3]:
l

[1, 2, 3, 4, 5]

In [16]:
product = 1
for i in l:
    product = product*i

product

120

In [ ]:
# 6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [19]:
l

[1, 2, 3, 4, 5]

In [22]:
list(range(0,5,2))

[0, 2, 4]

In [24]:
list(range(1,6,2))

[1, 3, 5]

In [7]:
for i in list(range(0,5,2)):
    print(i)

0
2
4

In [8]:
for i in list(range(1,6,2)):
    print(i)

1
3
5

In [ ]:
# 11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [6]:
s = {1,1,2,3,4,4,4,5,5}

In [8]:
s

{1, 2, 3, 4, 5}

In [9]:
type(s)

set

In [10]:
for i in s :                    # since loop prints less number of elemnets indicates list have 
    print(i)                      # some duplicates

1
2
3
4
5

In [ ]:
# 12. Create a program that prints the prime numbers in a given range using a `for` loop

In [2]:
l =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
n = int(input())
i = 2

while(i<=n):
    flag = 0
    for var in range(2,i):
        if (i%var==0):
            flag = 1
            break
        if (flag ==0):
            print(i,end='')
            
        i = i+1

 10

In [9]:
 # country=["india","uk","germenry"]
#for index in range(len(country)):
   # print(country[index])

india
uk
germenry

In [ ]:
# 13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [29]:
l = []
s = "kalka howrah mail from kalka to howrah via delhi shahganj aligarh"
for i in s:
    if (i == "a") or (i == "e") or (i == "i") or (i == "o") or (i == "u"):
        l.append(i)

In [30]:
len(l)

21

In [ ]:
# 14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [40]:
l = [5,4,3,2,23]
for i in l:
    for j in l:

In [45]:
l[n-1]

3

In [ ]:
for

In [ ]:
# printing integers

In [7]:
n = int(input("enter the number"))
i = n-1
for n in range(0,10):
    i = i-1
    print(i)

enter the number 6

4
3
2
1
0
-1
-2
-3
-4
-5

In [ ]:
# factorial with for loop just for fun

In [39]:
s = 1
for a in list(range(2,8)):
    a = a-1
    s = a*s
    print(s)

1
2
6
24
120
720

In [ ]:
# fibbonaci numbers with for loop just as fun

In [42]:
s = 0
for a in list(range(1,10)):
    s = a+s
    print(s)

1
3
6
10
15
21
28
36
45

In [ ]:
# print table using for loop just as fun

In [41]:

for i in range(1,11):
    print("6*",i,"=",6*i)

6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
6* 10 = 60

In [ ]:
# prime numbers using for loop

In [ ]:
for i in range(2,21):
    if i% 2:
        print("2")
    else:
        print("3")

In [ ]:
#13

In [17]:
l = []
s = "kalka howrah mail from kalka to howrah via delhi shahganj aligarh"
for i in s:
    if (i == "a") or (i == "e") or (i == "i") or (i == "o") or (i == "u"):
        l.append(i)
        print(l)
        
        #this remains in the pdf because it looks nice like downfall ladders

['a']
['a', 'a']
['a', 'a', 'o']
['a', 'a', 'o', 'a']
['a', 'a', 'o', 'a', 'a']
['a', 'a', 'o', 'a', 'a', 'i']
['a', 'a', 'o', 'a', 'a', 'i', 'o']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o', 'o']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o', 'o', 'a']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o', 'o', 'a', 'i']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o', 'o', 'a', 'i', 'a']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o', 'o', 'a', 'i', 'a', 'e']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o', 'o', 'a', 'i', 'a', 'e', 'i']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o', 'o', 'a', 'i', 'a', 'e', 'i', 'a']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o', 'o', 'a', 'i', 'a', 'e', 'i', 'a', 'a']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o', 'o', 'a', 'i', 'a', 'e', 'i', 'a', 'a', 'a']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o', 'o', 'a', 'i', 'a', 'e', 'i', 'a', 'a', 'a', 'i']
['a', 'a', 'o', 'a', 'a', 'i', 'o', 'a', 'a', 'o', 'o', 'a', 'i', 'a', 'e', 'i', 'a', 'a', 'a', 'i', 'a']

In [ ]:
# 15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [41]:
l1 = ["k","a","l","k","a"]
for i in l1:
    if i=="k":
        l1.remove("k")

In [42]:
l1

['a', 'l', 'a']

In [ ]:
# 16 .Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [116]:

for i in range(1,11):
    for j in range(1,11):
        print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100

In [ ]:
# 17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [82]:
l2 = [50,41,68,59]
l3 = []

for i in l2:
    f = (i-32)*5//9
    l3.append(f)

In [83]:
l3

[10, 5, 20, 15]

In [ ]:
# 18. Create a program to print the common elements from two lists using a `for` loop

In [86]:
p = [1,2,3,4,5,6]
p1 = [4,5,6,7,8,9]
p2 =[]
for i in p:
    for j in p1:
        if j==i:
            p2.append(j)

In [87]:
p2

[4, 5, 6]

In [ ]:
                             # nested for loop rehersal/practise

In [ ]:
#syntax:
#outer loop:
#       inner loop:
#               statements of inner loop
#        statements of outer loop

In [ ]:
# 14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [114]:
p3 = [1,2,3,4]
for i in p3:
    for j in p3:
        if i>j:
            i = i+1
            j = j+1
            
            print(i,j)

3 2
4 3
5 4
6 5
4 2
5 3
6 4
7 5
5 2
6 3
7 4
8 5

In [ ]:
#19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the pattern

In [99]:
l = []
s = "***********"
for i in s:
    if (i == "*") :
        l.append(i)
        print(l)

['*']
['*', '*']
['*', '*', '*']
['*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*']

In [ ]:
# 20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [107]:
p = [1,2,3,4,5,6]
p1 = [4,5,6,7,8,9]
p2 =[]
prod = 1
for i in p:
    for j in p1:
        if j==i:
            prod = prod*j
            print(prod)

4
20
120

In [94]:
list(range(0,6))

[0, 1, 2, 3, 4, 5]

In [ ]:
# 21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension

In [8]:
l = [12,3,4,5,6,7,8,9]
sum(i for i in l )

54

In [ ]:
# 25. Write a program to flatten a nested list using list comprehension.

In [9]:
l1 = [[1,2,3,4],[5,6,7],[8,9,0]]
in_list = [ elements for in_list in l1 for elements in in_list]

In [10]:
in_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
# 26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension
#

In [17]:
l = [1,2,3,4,5,6,7,8,9]
sum(i for i in l if i%2==0)

20

In [ ]:
## 27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

In [35]:

squares_of_odd_numbers = [ i**2 for i in range(1,11) if i%2!=0]

In [36]:
print(squares_of_odd_numbers)

[1, 9, 25, 49, 81]

In [ ]:
# 28. Write a program that combines two lists into a dictionary using list comprehension  #

In [45]:
print(conbine_of_lists)

[5, 6, 7, 8, 6, 7, 8, 9, 7, 8, 9, 10, 8, 9, 10, 11]

In [ ]:
# 29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension

In [57]:
s = "north,east,express,kamakhya,anand vihar"
l4 = []
vowels = [ l4.append(i) for i in s if (i=="a")or(i =="e")or(i =="i")or(i =="o")or(i =="u") ]

In [58]:
l4

['o', 'e', 'a', 'e', 'e', 'a', 'a', 'a', 'a', 'a', 'i', 'a']

In [ ]:
# 23. Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.

In [65]:
l4 = [[1,2,3],[4,5,6],[7.5,8j,9]]
l5 =[]
unique_elements = [l5.append(l4[0:1]) for i in l4 ]

In [66]:
print(unique_elements)

[None, None, None]

In [67]:
l5

[[[1, 2, 3]], [[1, 2, 3]], [[1, 2, 3]]]

In [ ]:
# 24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list comprehension

In [ ]:
s = "lool","papul","roar"

In [ ]:
# 26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [22]:
l = [1,2,3,4,56,6,7,8,9]
l1 = []
l2 = []
A =sum(i for i in l if i%2==0 )
B = sum(i for i in l if i%2!=0)
l1.append(A)
l2.append(B)

In [23]:
l1

[76]

In [24]:
l2

[20]

In [ ]:
# 30. Create a program that removes all non-numeric characters from a list of strings using list comprehension

In [81]:
s = ["123","kalka","howrah","mail","124","gomti","express"]
s1 =[]
non_numeric = [ i for i in s if (i=="1")or(i=="2")or(i=="3")or(i=="4")]

In [82]:
print(non_numeric)

[]

In [86]:
l = [1,2,4,5,5,6,6]

In [89]:
l[0+2]

4

In [ ]:
# 22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [3]:

prime = [i for i in range(2,100) if check_prime(i)]

In [4]:
check_prime(29)

True

In [5]:
prime = [i for i in range(2,100) if check_prime(i)]

In [6]:
check_prime(29)

True